.btn-edit{
background-color: rgb(0, 255, 221);
color: rgb(1, 1, 1);
border: 1px solid  rgb(30, 237, 213);
border-radius: 40px;
text-decoration: none;
}
.btn-delete{
    background-color: rgb(251, 7, 7);
    border: 1px solid  rgb(244, 6, 6);
    border-radius: 40px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
