table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    margin: 20px;
    padding: 10px;
    background-color: rgb(148, 235, 206);
}
th,td{
    color: blue;
    border-spacing: 15px;
}
